*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: bold;
    

}
.hero{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(1567665.webp);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
span{
    color: rgb(94, 121, 244);
}
nav{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    justify-content: space-between;

}
ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: bold;
}
ul li a:hover{
    color: rgb(94, 121, 244);
    transition: .4s;

}
.myprojects{
    color: rgb(94, 121, 244);
}
.abou{
    width: 100%;
    padding: 100px 0px;
}
.abou img{
    height: auto;
    width: 430px;
}
.about-tex{
    width: 550px;
}
.mai{
    width: 1200;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-tex h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.about-tex h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-tex p{
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}
.fb{
    display: inline-block;
    padding: 12px 28px;
    background: fixed;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.fb:hover{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1c1d1e;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .4s;
}
.proj2{
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(1567665.webp);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}